
body{
	background-image: url(../img/contact/bbg.jpg);
	background-position: center bottom;
	background-repeat: no-repeat;
	background-color: #f5f5f5;
	}

p{font-size:16px;}



a{text-decoration:none;}

h2{
	font-size:1.8em;
	color:#db287c;
}

h3{
	font-size: 14pt;
	letter-spacing: 1px;
	}


@media(max-width:767px) {
h2{
	font-size:3em;
	color:#db287c;
}	

}

#about_tt{
	width:100%;
	height:auto;
	margin:10px auto;
	}
	
#about_de{
	font-size:16px;
	width:550px;
	}	

	
#about_line{
	margin-top:-15px;
	margin-bottom:15px;
	}	
	
@media(max-width:767px) {
#about_de{
	width:90%;
	font-size:12px;
	}	

}

/* ----------------------------------------------------*/
.content-section-a {
	padding: 0 0;
	height: auto;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #2ba6bc;
	margin-bottom: 15px;
}

@media(max-width:767px) {
.content-section-a {
	height:auto;
	}	
}

.content-section-con {
	padding: 0 ;
	height: auto;
}

@media(max-width:767px) {
.content-section-con {
	height:auto;
	}	
}

/*  文字樣式  ------------------------------------ */
.wd1{
  margin-top: 50px;
  text-align:center;

}

.wdcon{
  margin-bottom: 0px;
  text-align:center;

}


@media only screen and (max-width: 991px) { 
.wd1{
    margin-top: 50px;
}

}

@media(max-width:767px) {
.wd1{
    margin-top: 0px;
	padding-top:15px;
	padding-right: 15px;
	padding-bottom: 10px;
	padding-left: 15px;
}

.wdcon{
  margin-bottom: 10px;
  text-align:center;

}

}

.addr{
	width: 50%;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: 50px;
	margin-left: auto;
	line-height:40px;
}

.addr p{
	font-size:20px;
	}
	
@media only screen and (max-width: 991px) { 
.addr{
	width: 80%;
}
}

@media(max-width:767px) {
.addr{
	width: 95%;
}

.addr p{
	font-size:15px;
	}
}

.mask{
	position:absolute;
	background-color: rgba(50,50,50,.85);
    height: 100%;
	cursor: pointer;
	width: 100%;
	z-index:99;
	top: 0;
    left:0;
	text-align:center;
}

.mask.click{
	display:none;
}

.mask img{
	animation:maplook 2s;
    animation-iteration-count: infinite;
}

@keyframes maplook
{
0%   {opacity: 0.3;-webkit-transform: translate(0,0px);}
50%  {opacity: 1;-webkit-transform: translate(0,-20px);}
100% {opacity: 0.3;-webkit-transform: translate(0,0px);}
}

@media (max-width: 767px)
{

.mask img{
	height:100%;
}

}

